@model DentalSurgery.ViewModels.MakeAppointmentViewModel

@{
    ViewBag.Title = "MakeAppointment";
}

<div class="opinion-header">
    <h2>Zapis na wizytę</h2>
</div>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            <div class="col-md-10">
                @Html.EditorFor(model => model.Date, new { htmlAttributes = new { @class = "input form-control", type = "text", style = "width: 250px;", placeHolder = "Data wizyty", onfocus = "(this.type='date')", onblur = "(this.type='text')", id = "date" } })
               @* @Html.ValidationMessageFor(model => model.Date, "Data niepoprawna", new { @class = "text-danger" })*@
            </div>
        </div>
        <h6>Wizyta może zawierać maksymalnie 3 zabiegi</h6>
        <div class="appointment-group">
            <div class="row">
                <div class="form-group">
                    <div class="col-md-10">
                        @Html.DropDownListFor(model => model.FirstSurgeryId, Model.SurgeryChoice, "Wybierz pierwszy zabieg", new { @class = "form-control input", style= "width: auto" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-10">
                        @Html.DropDownListFor(model => model.FirstToothId, Model.ToothChoice, "Wybierz ząb", new { @class = "form-control input", style = "width: auto" })
                        @Html.ValidationMessageFor(model => model.FirstSurgeryTooth, "", new { @class = "text-danger" })
                    </div>
                </div>

            </div>

            <div class="row">

                <div class="form-group">
                    <div class="col-md-10">
                        @Html.DropDownListFor(model => model.SecondSurgeryId, Model.SurgeryChoice, "Wybierz drugi zabieg", new { @class = "form-control input", style = "width: auto" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-10">
                        @Html.DropDownListFor(model => model.SecondToothId, Model.ToothChoice, "Wybierz ząb", new { @class = "form-control input", style = "width: auto" })
                        @Html.ValidationMessageFor(model => model.SecondSurgeryTooth, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            <div class="row">

                <div class="form-group">
                    <div class="col-md-10">
                        @Html.DropDownListFor(model => model.SecondSurgeryId, Model.SurgeryChoice, "Wybierz trzeci zabieg", new { @class = "form-control input", style = "width: auto" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-10">
                        @Html.DropDownListFor(model => model.ThirdSurgeryId, Model.ToothChoice, "Wybierz ząb", new { @class = "form-control input", style = "width: auto" })
                        @Html.ValidationMessageFor(model => model.ThirdSurgeryTooth, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Zapisz się" class="btn btn-default" style="background-color: dodgerblue; color: aliceblue" />
            </div>
        </div>
    </div>
}
