@model IEnumerable<DentalSurgery.ViewModels.VisitsHistoryViewModel>

<div class="opinion-header">
    <h2>Historia wizyt</h2>
</div>
<hr />
@{IEnumerable<DentalSurgery.ViewModels.VisitsHistoryViewModel> futureVisits = Model.Where(x => x.VisitDate > DateTime.Now);}

@if (futureVisits.Any())
{
    <h3 style="font-family: 'GE Inspira Pitch'; padding-left: 15px; font-size: 26px">Nadchodzące wizyty</h3>
    foreach (var visit in futureVisits)
    {
        <div class="row" style="padding-left: 15px">
            <div class="col-xl-12">
                <div class="jumbotron jumbotron-opinion">
                    <h5>@visit.VisitDate.ToShortDateString()</h5>
                    @foreach (var surgery in visit.Surgeries)
                    {
                        <p>
                            @surgery.Name
                        </p>
                    }
                    <p>
                        Szacowany czas: @visit.TotalTime minut
                    </p>
                    <p>
                        Szacowany koszt: @visit.TotalCost zł
                    </p>
                </div>
            </div>
        </div>
    }
}

@{IEnumerable<DentalSurgery.ViewModels.VisitsHistoryViewModel> previousVisits = Model.Where(x => x.VisitDate < DateTime.Now);}
@if (previousVisits.Any())
{
    <h3 style="font-family: 'GE Inspira Pitch'; padding-left: 15px; font-size: 26px">Poprzednie wizyty</h3>
    foreach (var visit in previousVisits)
    {
        <div class="row" style="padding-left: 15px">
            <div class="col-xl-12">
                <div class="jumbotron jumbotron-opinion">
                    <h5>@visit.VisitDate.ToShortDateString()</h5>
                    @foreach (var surgery in visit.Surgeries)
                    {
                        <p>
                            @surgery.Name
                        </p>
                    }
                    <p>
                        Czas: @visit.TotalTime minut
                    </p>
                    <p>
                        Koszt: @visit.TotalCost zł
                    </p>
                </div>
            </div>
        </div>
    }
}

